[[source]]
name = "pypi"
url = "https://pypi.org/simple"
veripiefy_ssl = true

[dev-packages]
pylint = "*"

[packages]
pygithub = "*"
pandas = "*"
matplotlib = "*"
seaborn = "*"

[requires]
python_version = "3.7"
